<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="version" content="2022.3.0" />
  <title>
    <%= output.title %>
  </title>
  <% if(favicon && favicon.path && favicon.mediaType) { %>
  <link rel='shortcut icon' type='<%= favicon.mediaType %>' href='<%= favicon.path %>' />
  <% } %>
  <link rel="StyleSheet" href="template/<%= layout.name %>/layout<%= html.rtl ? '-rtl' : '' %>.css" type="text/css" />
  <link rel="StyleSheet" href="template/<%= layout.name %>/userstyles.css" type="text/css" />
  <script type="text/javascript">
    gRootRelPath = ".";
    gCommonRootRelPath = ".";
  </script>
  <script data-relpath="." src="template/scripts/csh-redirect.js" type="text/javascript"></script>
</head>

<body class="rh-BODY-wrapper">
  <div class="cookie-widget-holder" id="cookie-status-widget-holder"></div>
  <div class="RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-container" id="skip-to-content"></div>
  <header role="banner" class="RH-LAYOUT-HOMEPAGE-TITLEBAR-container">
    <div class="RH-LAYOUT-HOMEPAGE-TITLEBAR-title-bar">
      <div class="RH-LAYOUT-HOMEPAGE-TITLEBAR-logo" id="logo-holder"></div>
      <div id="project_title" class="RH-LAYOUT-HOMEPAGE-TITLEBAR-title"></div>
      <div class="rh-layout-HOMEPAGE-titlebar-right-box">
        <div class="RH-LAYOUT-HOMEPAGE-HEADERMENU-container" id="header-menu"></div>
        <div class="RH-LAYOUT-HOMEPAGE-TITLEBAR-toolbar-box" id="rh-toolbar"></div>
        <div class="RH-LAYOUT-HOMEPAGE-SIDEBAR-container rh-layout-overlay" id="rh-rightpanel"></div>
      </div>
    </div>
    <div id="homepage_intro_tiles" class="RH-LAYOUT-HOMEPAGE-TITLEBAR-homepage-intro-tiles"></div>
    <div id="search_with_help_homepage" class="rh-layout-homepage-titlebar-search-with-help-homepage"></div>
    <div class="rh-layout-selectdetails" id="rh-selectdetails"></div>
  </header>
  <main class="rh-main-class" role="main">
    <div class="rh-layout-homepage-searchresults-searchresultpop" id="RH-LAYOUT-HOMEPAGE-searchresultpop"></div>
    <section class="RH-LAYOUT-HOMEPAGE-TOC-container" id="RH-LAYOUT-HOMEPAGE-TOCTILES"></section>
    <article data-region="topic" class="RH-LAYOUT-HOMEPAGE-TOPICAREA-container RH-LAYOUT-CENTERPANEL-topic-box"></article>
    <div id="rh-homepage"></div>
  </main>
  <footer role="contentinfo" class="RH-LAYOUT-HOMEPAGE-FOOTER-container" id="rh-footer"></footer>
  <script type="text/javascript" src="template/scripts/homepage.js" charset="utf-8"></script>
  <script src="whxdata/layoutconfig.js"></script>
  <% var allAssetFiles = html.assets || []; %>
  <% for(var i=0; i<allAssetFiles.length; i++) { %>
    <% if (allAssetFiles[i].substr(allAssetFiles[i].length - 3).toLowerCase()  === ".js") { %>
          <script src="template/<%= layout.name %>/<%= allAssetFiles[i] %>" type="text/javascript"></script>
    <% } %>
  <% } %>

  <% for(var i=0; i<allAssetFiles.length; i++) { %>
    <% if (allAssetFiles[i].substr(allAssetFiles[i].length - 4).toLowerCase()  === ".css") { %>
          <link rel="StyleSheet" href="template/<%= layout.name %>/<%= allAssetFiles[i] %>" type="text/css" />
    <% } %>
  <% } %>
</body>

</html>